<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Signup </h2>
    <h2 class="inactive underlineHover"> </h2>

<form id="form" action="/signup" method="POST" class="row g-3">
  
  
  <div class="fadeIn second">
    <label for="username" class="fadeIn second">Username</label>
    <input type="text" name="username" class="form-control">
  </div>
  <div class="fadeIn third">
    <label for="password" class="fadeIn third">Password</label>
    <input type="password" name="password" class="form-control" >
  </div>
  <div class="fadeIn fourth">
    <button type="submit" class="fadeIn fourth">Create account</button>
  </div>
</form>

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}


