<nav class="navbaridx">
  <div class="navbarTitleidx"></div>
  <div class="d-flex flex-column align-items-center">
    <h1>Finance app!</h1>
  </div>
  <div class="navDropDownidx"></div>

  <a href="/login">
    <button type="button" class="dropdownidx">Login</button>
  </a>

  <a href="/signup">
    <button class="dropdownidx" type="submit">Sign up</button>
  </a>

  </div>
  </div>
  </div>
  </div>
</nav>

