
<div class="d-flex flex-column ">
  <div class="">
  <h1>Welcome to the Finance app!</h1>

  <div id="container">
    <a href="/login">
      <button type="button" class="btn btn-primary btn-lg">Login</button>
    </a>
    </br>
    </br>
    <a href="/signup">
      <button class="btn btn-primary" type="submit">Sign up</button>
    </a>
  </div>
  </div>
</div>