
/* Main */

body {
  width: 500px;
  }
  
  main .helloUser {
  margin-top: 0px;
  margin-left: -20px;
  position: relative;
  top: -160px;
  display: grid;
  }
  
  main .helloUserTlt{
    font-size: 0.6rem;
    background: white;
    width: 200px;
    height: 95px;
  
    position: relative;
    left: 140px;
    top: -205px;
  
  }
  
  main .title {
    background: #213970;
    width: 1450px;
    height: 75px;
  }
  
  main .logout-Btn {
   position: relative;
   left: 900px;
  
  }
  
  main .insights {
  margin-top: 0px;
  margin-left: 100px;
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  }
  
  main .insights > div {
    background: white;
    margin: 40px;
    width: 200px;
    height: 120px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  main .middle {
    text-align: center;
    justify-content: space-between;
  }
  
  main .insights h3{
    margin: 2rem 0 0 0.5rem;
    font-size: 1rem;
  }
  
  main .graph {  
  
    position: relative;
    left: 920px;
    top: -300px;
  }
  
  /*expenses*/
  
  main .expearnDiv {
    background: #213970;
    width: 1450px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    bottom: 420px;
    }
  
  main .earnings {
    background-color: white;
    padding: 50px;
    margin: 100px;
    width: 450px;
    position: relative;
    left: 50px;
    -webkit-border-radius: 20px 20px 20px 20px; 
    -moz-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }
  
  main .sumEar {
    color:green;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main .total {
    color: #213970;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main .earnNav {
    display: flex;
    position: relative;
    right: 25px;
    top: -50px;
    background-color:white;
  }
  
  main .allEarn {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 400px;
    position: relative;
    left: -50px;
    bottom: 50px;
  }
  
  main .eachEarn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 40px;
  }
  
  main .spaceEar {
    color: green;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    left: 130px;
    bottom: 38px;
    text-align:justify
  }
  
  main .earnBtn > button {
    margin: 15px;
    margin-left: 150px;
  }
  
  main .earnBtns {
    margin-left: 50px;
    margin: 0px;
    display: flex;
    position: relative;
    bottom: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  main .earn-valDescp {
    font-size: 1.2em;
    font-weight: 500;
    text-align:justify
  }
  
  /*expenses*/
  
  main .expenses {
    background-color: white;
    padding: 50px;
    margin: 50px;
    width: 450px;
    -webkit-border-radius: 20px 20px 20px 20px; 
    -moz-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }
  
  main .sumExp {
    font-family: Arial, Helvetica, sans-serif;
    color: red
  }
  
  main .expNav {
    display: flex;
    position: relative;
    right: 25px;
    top: -50px;
    background-color:white;
  }
  
  main .allExp {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 400px;
    position: relative;
    left: -50px;
    bottom: 50px;
  }
  
  main .eachExp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 30px;
    height: 40px;
  }
  
  main .spaceExp {
    color:red;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
    left: 130px;
    bottom: 38px;
    text-align:justify
  }
  
  main .expBtn > button {
    margin: 15px;
    margin-left: 150px;
  }
  
  main .expBtns {
    margin-left: 50px;
    margin: 0px;
    display: flex;
    position: relative;
    left: 10px;
    bottom: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  main .exp-valDescp {
    font-size: 1.2em;
    font-weight: 500;
    text-align:justify
  }
  
  /*poopup*/
  
  
  .formExpDiv {
    display: flex;
    flex-direction: column;
  }
  
  .topAddExp {
    display: flex;
    flex-direction: row;
  }
  
  .expNav > h1 {
    font-size: 1.8em;
    margin: 15px;
    margin-right: 55px;
    margin-bottom: 17px;
  }
  
  .expDetails {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formEarnDiv {
    display: flex;
    flex-direction: column;
  }
  
  .topAddEarn {
    display: flex;
    flex-direction: row;
  }
  
  .earnNav > h1 {
    font-size: 1.8em;
    margin: 15px;
    margin-right: 55px;
    margin-bottom: 17px;
  }
  
  .earn-valDesc {
    margin: 15px;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 30px;
  
  }
  
  .earnDetails {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  
  
  /* login style */
  
  
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    position: absolute; 
    left: 850px; /* posiciona a 90px para a esquerda */ 
    top: 0px;
  
  }
  
  #formContent {
    border-radius: 50px 50px 50px 50px;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    padding: 55px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* FORM */
  
  input[type="text"] {
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type="password"] {
    text-align: center;
    font-size: 16px;
    width: 100%;
    border: 2px solid #f6f6f6;
    border-radius: 5px 5px 5px 5px;
  }
  
  /* Index */
  
  .navbaridx {
    background-color: rgb(49, 211, 116);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbarTitleidx {
    margin-left: 15px;
    margin-top: -1px;
  }
  
  .navDropDownidx {
    margin-top: -3px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .dropbtn {
    background-color: #eeeeee;
    color: black;
    padding: 7px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
