@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');´

* {
font-family: "Roboto";
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
/* 
.index {
  display: flex;
  justify-content: center;
}

.indexChild {
  display: flex;
  flex-direction: column;
  align-items: center;
} */