<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);


      
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['category', 'Billing category'],
          ['Clothes',     10],
          ['Entertainment',      3],
          ['Travel',  2],
          ['Gifts', 2],
          ['Pets',    7],
          ['Investments',    7],
          ['Education',    7],
          ['Debts',    7],
          ['Health',    7],
          ['Purchases',    7],
          ['House',    7],
          ['Bars',    7],
          ['Restaurants',    7],
          ['Subscriptions',    7],
          ['Food',    7],
          ['Transport',    7],
          ['Others',    7]
        ]);

        var options = {
          title: 'Personal Finance Organize',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart_3d" style="width: 1000px; height: 1000px;"></div>
  </body>
</html>