<form action="/raissatest" method="POST">
  <br />
  <label>description:</label>
  <input type="text" name="title" />

  <br />
  <label>value:</label>
  <input type="number" name="number" />

  <br />
  <label>date:</label>
  <input type="date" name="date" />

  <br />
  <label>category:</label>
  <input type="text" name="title" />

  <br />


  <select name="category" multiple>
    <option value="clothes">Clothes</option>
    <option value="Entertainment">Entertainment</option>
    <option value="travel">travel</option>
    <option value="gifts">gifts</option>
    <option value="pets">pets</option>
    <option value="investments">investments</option>
    <option value="education">education</option>
    <option value="debts">debts</option>
    <option value="health">health</option>
    <option value="purchases">purchases</option>
    <option value="house">house</option>
    <option value="bars">bars</option>
    <option value="restaurants">restaurants</option>
    <option value="subscriptions">subscriptions</option>
    <option value="food">food</option>
    <option value="transport">transport</option>
    <option value="other">other</option>
  </select>

  <br />
  <button type="submit">New Account</button>
</form>