<form action="/newearning" method="POST">
  <br />
  <label>Description:</label>
  <input type="text" name="description" />

  <br />
  <label>VWalue:</label>
  <input type="number" name="value" />

  <br />
  <label>Date:</label>
  <input type="date" name="date" />
  <br />
  <select name="category" multiple>
    <option value="Investments">Investments</option>
    <option value="Loans">Loans</option>
    <option value="Salary">Salary</option>
    <option value="Other earnings">Other earnings</option>
  </select>

  <br />
  <button type="submit">Add earning</button>
</form>