<form action="/received/{{received._id}}/edit" method="POST">
  <label>Description:</label>
  <input type="text" name="description" value="{{received.description}}" />

  <label>Value:</label>
  <input type="number" name="value" value="{{received.value}}" />

  <label>Date:</label>
  <input type="date" name="date" value="{{received.date}}" />

  <label>Category:</label>
  
  <select name="category" multiple>
    <option value="Investments">Investments</option>
    <option value="Loans">Loans</option>
    <option value="Salary">Salary</option>
    <option value="Other earnings">Other earnings</option>
  </select>

  <button type="submit">Save</button>
</form>